* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.p,
p {
    color: black;
    /* font-family: Arial, sans-serif; */
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    margin: 0pt;
}

h1 {
    color: black;
    /* font-family: Arial, sans-serif; */
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 17pt;
}

h2 {
    color: black;
    /* font-family: Arial, sans-serif; */
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 13pt;
}

h3 {
    color: black;
    /* font-family: Arial, sans-serif; */
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

a {
    color: #1154CC;
    /* font-family: Arial, sans-serif; */
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
}

#l1>li>*:first-child:before {
    content: "· ";
    color: black;
    /* font-family: Arial, sans-serif; */
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
}