.carrerMain {
    background: url('https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* height: 90vh; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carrerMainHeading {
    font-size: 50px;
    color: white;
}

.carrerMainIn {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: end;
}

.carrerMainHeading img {
    height: 100px;
}




.contactForm {
    background-color: #ffffff96;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #004aad;
    max-width: 600px;
    /* Adjust as needed */
    width: 95%;
    /* Occupy most of the width on smaller screens */
    box-sizing: border-box;
    /* Include padding and border in width */
}

.contactForm h1 {
    font-family: "Times new roman condensed";
}


/* Responsive adjustments (optional - refine as needed) */
@media (max-width: 768px) {
    .carrerMainHeading img {
        height: 60px;
    }

}


@media (max-width: 480px) {
    .carrerMainHeading {
        font-size: 30px;
        /* color: white; */
    }

}