.carrerMain {
    background: url('https://img.freepik.com/free-vector/party-couple-sparkle-background_1048-8602.jpg?t=st=1740488376~exp=1740491976~hmac=f8800e36d4e54012d965fffa974aa76d4de8b7b45c8675eccf572e78ca109bf4&w=1060');
    /* height: 90vh; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.carrerMainHeading {
    font-size: 50px;
    color: white;
}

.carrerMainIn {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: end;
}

.carrerMainHeading img {
    height: 100px;
}




.contactForm {
    background-color: #ffffff96;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #fceb8e;
    max-width: 600px;
    /* Adjust as needed */
    width: 95%;
    /* Occupy most of the width on smaller screens */
    box-sizing: border-box;
    /* Include padding and border in width */
}

.contactForm h1 {
    font-family: "Times new roman condensed";
}


/* Responsive adjustments (optional - refine as needed) */
@media (max-width: 768px) {
    .carrerMainHeading img {
        height: 60px;
    }

}


@media (max-width: 480px) {
    .carrerMainHeading {
        font-size: 30px;
        /* color: white; */
    }

}