.footer{
    font-family: "sans-serif";
  }
  
  .footer h1, h2 {
    font-family: "sans-serif";
  } 

  .footerlegal{
    font-family:  'Roboto', sans-serif; ;
    font-size: 12px;
  }
  
  @media screen and (max-width: 541px) {
    .footer-logo{
      display: none;
    }
  
    .footer-content{
      font-size: 13px;
    }
    
  }