.galleryItem{
    width: 100%;
    /* height: 30%; */
    cursor: pointer;
    /* animation-name: galleryItem;
    animation-duration: 3s;
    animation-iteration-count: 1; */
    margin-top: 3%;
    margin-bottom: 3%;
}

.left{
    animation-name: left;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes left {
    0%{
        transform: translateX(-300px);
    }
    100%{
        /* margin-left: 0px; */
    }
}


.center{
    animation-name: center;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes center {
    0%{
       transform: translatey(300px);
    }
    100%{
        /* margin-right: 0px; */
    }
}


.right{
    animation-name: right;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes right {
    0%{
       transform: translateX(300px);
    }
    100%{
        /* margin-right: 0px; */
    }
}

/* .galleryItemLeft{
    animation-name: galleryItemLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.galleryItemRight{
    animation-name: galleryItemRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
} */

/* @keyframes galleryItemLeft {

    from {
        margin-left: -100%;
    }to{
        
    }
    
}

@keyframes galleryItemRight {

    from {
        margin-right: 100%;
    }to{
        
    }
    
} */

.menu{
    display: flex;
    justify-content: space-between;
}

.menu span{

    /* background-color: aliceblue; */
}


.videos{
    display: flex;
    justify-content: center;
}

.videoYoutube{
    border-radius: 20px;
}
