
@if(image){
<div class="container-fluid bg-black mt-0 py-3">

    <div class="row">
        <div class="menu col-lg-4 col-md-6 col-10 mx-auto">
            <div><button class="btn py-0"
                    style="cursor: pointer; background: linear-gradient(90deg, #a18759, #e2d798, #ded6b9); font-size: 25px; font-weight: 600;"><span
                        class="">Images</span></button></div>
            <div (click)="shift('video')"><span style="color:white; cursor: pointer;
                    font-size: 25px;
                    font-weight: 600;">Videos</span></div>
        </div>

    </div>
    <div class="row my-3 mx-0">

        <div class="col-lg-4 col-12 mx-0 px-2">

            <img class="galleryItem left" src="/1.JPG">

            <img class="galleryItem left" src="/2.JPG">

            <img class="galleryItem left" src="/3.JPG">

            <img class="galleryItem left" src="/9.PNG">
            <img class="galleryItem left" src="/10.JPG">
            <img class="galleryItem left" src="/11.JPG">
        </div>

        <div class="col-lg-4 col-12 mx-0 px-2">
            <img class="galleryItem center" src="/12.JPG">

            <img class="galleryItem center" src="/4.JPG">


            <img class="galleryItem center" src="/5.JPG">

            <img class="galleryItem center" src="/6.PNG">


            <img class="galleryItem center" src="/13.JPG">
            <img class="galleryItem center" src="/14.AVIF">

        </div>


        <div class="col-lg-4 col-12 mx-0 px-2">
            <img class="galleryItem right" src="/15.JPG">
            <img class="galleryItem right" src="/7.PNG">

            <img class="galleryItem right" src="/8.PNG">


            <img class="galleryItem right" src="/16.JPG">
            <img class="galleryItem right" src="/17.JPG">
            <img class="galleryItem right" src="/18.JPG">

        </div>
    </div>







</div>

}




@if(!image){
<div class="container-fluid bg-black mt-0 py-3">

    <div class="row">
        <div class="menu col-lg-4 col-md-6 col-10 mx-auto">
            <div (click)="shift('image')"><span style="color:white; cursor: pointer;
                    font-size: 25px;
                    font-weight: 600;">Images</span></div>


            <div><button class="btn py-0"
                    style="cursor: pointer; background: linear-gradient(90deg, #a18759, #e2d798, #ded6b9); font-size: 25px; font-weight: 600;"><span
                        class="">Videos</span></button></div>
        </div>

    </div>


    <div class="row my-3">
        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'56uy6LoPwjU'" [width]="370"
                [height]="200"></youtube-player>
        </div>

        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'E2ni1YgJiEM'" [width]="370"
                [height]="200"></youtube-player>
        </div>
        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'lrrZgSOtNas'" [width]="370"
                [height]="200"></youtube-player>
        </div>

        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'MMtopBi2uYw'" [width]="370"
                [height]="200"></youtube-player>
        </div>

        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'kIDp0o1s7C8'" [width]="370"
                [height]="200"></youtube-player>
        </div>


        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'K3xM4UikrxI'" [width]="370"
                [height]="200"></youtube-player>
        </div>

        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'56uy6LoPwjU'" [width]="370"
                [height]="200"></youtube-player>
        </div>

        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'E2ni1YgJiEM'" [width]="370"
                [height]="200"></youtube-player>
        </div>


        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'lrrZgSOtNas'" [width]="370"
                [height]="200"></youtube-player>
        </div>

        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'MMtopBi2uYw'" [width]="370"
                [height]="200"></youtube-player>
        </div>

        <div class="col-lg-4 col-md-6 col-12 videos my-2">
            <youtube-player class="mx-auto videoYoutube" [videoId]="'kIDp0o1s7C8'" [width]="370"
                [height]="200"></youtube-player>
        </div>
    </div>







</div>
}