

<nav class="navbar navbar-expand-lg w-100">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="/logo.png"></a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul style="visibility: hidden;" class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex" role="search">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-4">
                        <a [ngClass]="{'border-top border-bottom': home, '': !home}" class="nav-link"
                            aria-current="page" style="cursor: pointer;" (click)="routee('/home')">Home</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a [ngClass]="{'border-top border-bottom': packages, '': !packages}" class="nav-link"
                            style="cursor: pointer;" (click)="routee('/packages')">Packages</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a [ngClass]="{'border-top border-bottom': gallery, '': !gallery}" class="nav-link"
                            style="cursor: pointer;" (click)="routee('/gallery')">Gallery</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a [ngClass]="{'border-top border-bottom': services, '': !services}" class="nav-link"
                            style="cursor: pointer;" (click)="routee('/services')">Services</a>
                    </li>
                    <!-- <li class="nav-item mx-4 dropdown">
                        <a [ngClass]="{'border-top border-bottom': services, '': !services}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">⁠Group Dance</a></li>
                            <li><a class="dropdown-item" href="#">⁠Friends Dance</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="routee('/services')">See All</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item mx-4">
                        <a [ngClass]="{'border-top border-bottom': careers, '': !careers}" class="nav-link"
                            style="cursor: pointer;" (click)="routee('/careers')">Careers</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a [ngClass]="{'border-top border-bottom': contact, '': !contact}" class="nav-link"
                            style="cursor: pointer;" (click)="routee('/contact')">Contact Us</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
    