.navbar {
    /* position: absolute; */
    background-color: black;
    margin:0px
}


.nav-link {
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo {
    height: 70px;
}

.navbar-toggler {
    background-color: antiquewhite;
}