.main {
    background: url('https://img.freepik.com/premium-photo/abstract-gold-bokeh-with-black-background_34836-3152.jpg?w=740');
    height: 100vh;
    width: 100%;

    background-position: bottom;
    background-size: cover;
    position: fixed;
    top:0px;
    z-index: -1;
}

.mainImage {
    background: url('https://img.freepik.com/free-vector/shiny-wave-background-concept_23-2148390174.jpg?t=st=1739105913~exp=1739109513~hmac=270618d966f1ba042f557fb245b8ed32fdc46dafab7eddae92dca76aa356238c&w=740');
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 7px 7px rgb(29, 28, 28);
    background-repeat: no-repeat;

}

.mainImage-in {
    /* background-color: rgba(54, 51, 1, 0.342); */
    font-style: "serif";
    display: flex;
    justify-content: center;
    align-items: center;
    color: WHite;
}

.mainImage h1 {
    font-size: 45px;
}

.mainImage h2 {
    font-size: 25px;
    text-align: center;
}


/* ABout US */


.aboutUsImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsImg img {
    height: 350px;
}

.aboutUsText {
    background-color: rgba(255, 255, 255, 0.575);
    margin-left: -200px;
    border: 1px solid
        /* color:white; */
}


/* Services */
.serviceItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 6px black;
    font-size: 20px;
    font-weight: 500;

}


/* gallery */

.gallery{
    /* overflow-x: scroll; */
    /* justify-content: space-between; */
    /* animation: scroll 15s linear infinite; */
    animation: scroll 15s linear infinite;
}

.gallery img{
    height: 180px;
    border-radius: 20px;
}

.galleryMain::-webkit-scrollbar {
    display: none;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

    /* Scroll to the left by 100% of the content width */
}

/* Biography */
.biography img{
    height: 220px;
    /* width: 300px; */
}


/* video */
.video{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video img{
    filter: invert();
    height: 100px;
    cursor: pointer;
}

.videoPlay{
    height: 100vh;
    width: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 900px) {

    .aboutUsImg img {
        height: 260px;
    }

    .aboutUsImg {
        margin: auto;
    }

    .aboutUsText {
        margin-left: -120px;
        /* margin: auto; */
    }
}





@media screen and (max-width: 480px) {
    .mainImage h1 {
        font-size: 25px;
    }

    .mainImage h2 {
        font-size: 15px;
        text-align: center;
    }

    .aboutUsImg img {
        height: 230px;
    }

    .aboutUsText {
        margin-left: 0px;
        margin: auto;
    }


    /* Biography */
.biography img{
    height: 130px;
    /* width: 300px; */
}

}