<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>


<!-- WHATSAPP ICON -->
<div class="container w-25" class="whatsapp">
    <a href="https://wa.me/919911587963" target="_blank"><img
            src="https://i.pinimg.com/originals/43/08/82/430882b2a9c08ee91f4259ba040cc577.png" class="imgIcon"></a>
</div>




<div>
    <div class="welcomee">
        <!-- <div class="otherone bg-green">
        </div> -->
        <span></span>
        <span class="falling-text">W</span>
        <span class="falling-text">E</span>
        <span class="falling-text">D</span>
        <span class="falling-text">D</span>
        <span class="falling-text">A</span>
        <span class="falling-text">N</span>
        <span class="falling-text">C</span>
        <span class="falling-text">E</span>
    </div>
</div>
<div>
    <!-- <video>
        <source src="/welcomeBlast.mp4">
    </video> -->
</div>

<!-- <div class="d-flex bg-dark"
    style="display: flex; height: 100vh; justify-content: center; align-items: center; flex-direction: column;">
    <img src="/logo.png" style="height: 200px;">
    <h1 class="text-white my-5">Coming Soon........</h1>
</div> -->