.welcomeText {
  font-family: Montserrat;
  letter-spacing: 4px;
  font-size: 80px;
}



.main {
  background: url('https://images.unsplash.com/photo-1492684223066-81342ee5ff30?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 100vh;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.mainImage {
  background: url('https://images.unsplash.com/photo-1486611289333-50d2b3ac99d1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.mainImage-in {
  background-color: rgba(9, 1, 54, 0.575);
  font-style: "serif";
  display: flex;
  justify-content: center;
  align-items: center;
  color: WHite;
}

.mainImage h1 {
  font-size: 45px;
}

.mainImage h2 {
  font-size: 25px;
  text-align: center;
}


/* ABout US */

.aboutUsImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsImg img {
  height: 350px;
}

.aboutUsText {
  background-color: rgba(255, 255, 255, 0.575);
  margin-left: -200px;
  border: 1px solid
    /* color:white; */
}






/* TEXT FALLING FROM TOP */
@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-200%);
    visibility: visible;
    display: block;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    display: block;
  }
}


.logo{
  height: 200px;
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: 1;
  visibility: hidden;
}

@keyframes logo {
  from{
    opacity: 0;
    visibility: visible;
  }
  to{
    visibility: visible;
  }
}



.falling-text {
  display: inline-block;
  /* Important for word-by-word animation */
  animation: fall 1s ease-out forwards;
  opacity: 0;
  /* Initially hidden */
  font-size: 100px;
  color: #fceb8e;
  font-family: Montserrat;
  word-spacing: 8px;
  visibility: hidden;
  position: relative;
  z-index: -10;
}

/* Delay each word's animation */
.falling-text:nth-child(1) {
  animation-delay: 0.2s;
}
.falling-text:nth-child(2) {
  animation-delay: 0.2s;
}

.falling-text:nth-child(3) {
  animation-delay: 0.4s;
}

.falling-text:nth-child(4) {
  animation-delay: 0.6s;
}

.falling-text:nth-child(5) {
  animation-delay: 0.8s;
}

.falling-text:nth-child(6) {
  animation-delay: 1s;
}

.falling-text:nth-child(7) {
  animation-delay: 1.2s;
}

.falling-text:nth-child(8) {
  animation-delay: 1.4s;
}

.falling-text:nth-child(9) {
  animation-delay: 1.6s;
}


.otherone{
  /* background-color: aliceblue; */
  height: 100vh;
  width: 100%;
  position: fixed;
  background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExenpncjZscnA4dGwwMnZvdThjemZ0MW40eDQ3eHMwdjV1b2VmazB2eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U3qYN8S0j3bpK/giphy.gif');
  background-position: center;
  background-size: cover;
  animation-name: otherOne;
  animation-duration: 3.3s;
  animation-iteration-count: 1;
}


.welcomee{
  /* display: none; */
  animation-name: welcomee;
  animation-duration: 3s;
  animation-iteration-count: 1;
  z-index: -14;
  visibility: none;
  position: fixed;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

@keyframes welcomee {
  0%{
    white-space: nowrap; overflow: hidden; height: 100vh; width: 100%; background-color: black; display: flex; justify-content: center; align-items: center; position: fixed; top:0px; left: 0px;
    z-index: 1;
  }100%{
    white-space: nowrap; overflow: hidden; height: 100vh; width: 100%; background-color: black; display: flex; justify-content: center; align-items: center; position: fixed; top:0px; left: 0px;
    display: none; z-index: 1;
  }
}


@keyframes otherOne {
  0%{
    /* height: 0px;
    width: 0px; */
    display: none;
    
  }60%{
  
  }
  70%{
    display: none;
  }
  80%{
    display: block;
  }
  90%{
    display: block;
  }
  100%{
    display: block;
  }
}


/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20%;
  right: 10px;
  width: 80px;
  height: 80px;
}

.imgIcon {
  height: 100%;
  width: 100%;
}








@media screen and (max-width: 900px) {

  .aboutUsImg img {
    height: 260px;
  }

  .aboutUsImg {
    margin: auto;
  }

  .aboutUsText {
    margin-left: -120px;
    /* margin: auto; */
  }
}




@media screen and (max-width: 480px) {
  .mainImage h1 {
    font-size: 25px;
  }

  .mainImage h2 {
    font-size: 15px;
    text-align: center;
  }

  .aboutUsImg img {
    height: 230px;
  }

  .aboutUsText {
    margin-left: 0px;
    margin: auto;
  }

  .falling-text {

    font-size: 50px;

  }

  .otherone{
    display: none;
  }


}


/* Add more nth-child rules as needed for more words */