.adminItems{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.adminItems img{
  height: 200px;
  width: 200px;
}

.adminItems span{
  font-size: 20px;
  font-style: Montserrat;
  font-weight: 600;
}